::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c5cdd7 !important;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #a2adb7;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.loader_bg {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    display: none;
}

.loader {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader span {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: rgba(114, 105, 239, 1);
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
}

.loader span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

.chat-welcome-section {
    display: flex;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.image-remove {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 9px;
    border: 1px solid white;
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: white;
    line-height: 18px;
    text-align: center;
    top: 5px;
    right: 5px;
}

#settingprofile .form-control:disabled {
    background-color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
}

.list-inline-item [download] {
    display: inline-block;
    background: #00000050;
    border-radius: 20px;
}

.no-leatest-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 280px);
}


.scroll-bottom-btn {
    z-index: 1000 !important;
    bottom: 150px;
    right: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    background: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}


.scroll-bottom-btn:hover {
    background: #7269ef;
    color: white;
}

.form-select:focus {
    border-color: #e0e5e9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}



/* dropdown animation */

#attachment-bt {
    padding: 0px !important;
    height: 42px;
    display: flex;
    align-items: center;
}

#attachmentn-btn:hover {
    transition: all 0.2s ease-in-out;
}


.rotate {
    transform: rotate(45deg);
}

/* custom css */
.bg-pattern {
    background: var(--bg-message) url(../images/chat-bg.svg);
    background-size: 700px 700px;
    background-blend-mode: var(--bg-message-blend);
}

@media (min-width: 991px) {
    .ctext-wrap-content {
        max-width: 99ch;
    }
}

.menu-icon {
    background: var(--bs-dark-bg-subtle);
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 767px) {

    .profile-leftsidebar {
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
    }

    .side-menu.show+.profile-leftsidebar {
        transform: translateX(72px);
    }

}

#newConversationteModal .iti {
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    width: 100%;
}

#reefModal .iti {
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
}

.iti .error-message {
    color: #ff0000;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input {
    border: 1px solid #9e8aff;
}



.coun-box {
    background: #fff;
    border-radius: 5px;
    padding: 30px 15px 31px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.coun-box i {
    font-size: 40px;
    color: #7269ef;
}

.coun-box h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 0 !important;
}

.coun-box h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 0 !important;
}

.loading-state::after {
    background: #ffffff80;
    width: 100%;
    height: 100%;
    content: "";
    top: 0px;
    position: absolute;
    transition: 0.5s;

}